<% content_for :section_title, "Pagination" %>

<p>Styling is automatically defined to match with the <%= link_to "Pagy", "https://github.com/ddnexus/pagy", target: :_blank %> gem's HTML and classes.</p>

<h4>Default</h4>
<%= render "jumpstart/docs/snippet" do %>
  <%== pagy_nav @pagy %>
<% end %>

<h4>Dark</h4>
<%= render "jumpstart/docs/snippet" do %>
<nav aria-label="Page navigation example">
  <div class="inline-flex flex-wrap items-center justify-start">
    <a class="px-4 py-2 text-white no-underline bg-gray-800 rounded-tl rounded-bl cursor-pointer hover:bg-gray-700" href="#">Previous</a>
    <a class="px-4 py-2 text-white no-underline bg-gray-700 cursor-pointer hover:bg-gray-700" href="#">1</a>
    <a class="p-2 px-4 text-white no-underline bg-gray-800 cursor-pointer hover:bg-gray-700" href="#">2</a>
    <a class="px-4 py-2 text-white no-underline bg-gray-800 cursor-pointer hover:bg-gray-700" href="#" >3</a>
    <a class="px-4 py-2 text-white no-underline bg-gray-800 rounded-tr rounded-br cursor-pointer hover:bg-gray-700" href="#">Next</a>
  </div>
</nav>
<% end %>
