<% content_for :section_title, "Pills" %>

<h4>Default</h4>

<%= render "jumpstart/docs/snippet" do %>
<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal text-gray-700 uppercase bg-gray-400 rounded-full">
Default
</div>

<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal text-white uppercase rounded-full bg-primary-500">
Primary
</div>

<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal text-white uppercase rounded-full bg-secondary-500">
Secondary
</div>

<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal text-white uppercase rounded-full bg-tertiary-500">
Tertiary
</div>

<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal text-white uppercase bg-orange-400 rounded-full">
Accent
</div>
<% end %>

<h4>Outlined</h4>

<%= render "jumpstart/docs/snippet" do %>
<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal text-gray-700 uppercase bg-transparent border-2 border-gray-400 rounded-full">
Default
</div>

<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal uppercase bg-transparent border-2 rounded-full border-primary-500 text-primary-500">
Primary
</div>

<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal uppercase bg-transparent border-2 rounded-full border-secondary-500 text-secondary-500">
Secondary
</div>

<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal uppercase bg-transparent border-2 rounded-full border-tertiary-500 text-tertiary-500">
Tertiary
</div>

<div class="inline-block px-4 py-1 mr-2 text-xs font-bold leading-normal text-orange-500 uppercase bg-transparent border-2 border-orange-500 rounded-full">
Accent
</div>
<% end %>
