<% content_for :section_title, "Wells" %>

<h4>Default</h4>

<%= render "jumpstart/docs/snippet" do %>
<div class="max-w-3xl p-8 my-4 text-center bg-gray-100 rounded-lg lg:p-16">
<h2 class="mb-2 text-xl text-black lg:text-4xl lg:mb-4">Empty state well title</h2>
<p class="text-base leading-normal text-gray-700  lg:text-xl">Description for the empty state running across a couple of lines. Nullam quis risus eget urn. Posuere consectetur est at lobortis. <a href="#" class="link">Learn More</a></p>
</div>
<% end %>
