@layer components {
  .bg-twitter { background: #4099ff; }
  .bg-facebook { background: #3B5998; }
  .bg-google_oauth2 { background: #D34836; }

  .text-twitter { color: #4099ff; }
  .text-facebook { color: #3B5998; }
  .text-google_oauth2 { color: #D34836; }
}

.btn-twitter {
  @apply text-white bg-twitter;
}

.btn-facebook {
  @apply text-white bg-facebook;
}

.btn-github {
  @apply text-white bg-gray-500;
}

.btn-google_oauth2 {
  @apply text-white bg-google_oauth2;
}

.btn-microsoft_graph {
  @apply bg-white border text-slate-900 border-slate-900;
}
