.form-group {
  @apply relative mb-6;
}

.form-input {
  &[disabled] {
    @apply bg-gray-200;
  }
}

/* non-input elements (like the Stripe card form) can be styled to look like an input */
div.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-width: 1px;
  padding-top: .5rem;
  padding-right: .75rem;
  padding-bottom: .5rem;
  padding-left: .75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

@layer components {
  .form-control {
    @apply block w-full border-gray-300 rounded-md shadow-sm form-input sm:text-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;

    &[disabled], &[readonly] {
      @apply bg-gray-200;
    }

    &.error {
      @apply border-red-300;
    }
  }
}

select {
  @apply sm:text-sm;
}

select:not([multiple]) {
  @apply block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;

  &[disabled] {
    @apply bg-gray-200;
  }
}

select[multiple] {
  @apply block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;

  &[disabled] {
    @apply bg-gray-200;
  }
}

label,
.label {
  @apply block mb-1 text-sm font-medium leading-5 text-gray-700;
}

.form-hint {
  @apply text-xs italic text-gray-600;

  &.error {
    @apply mt-1 text-sm italic leading-normal text-red-500;
  }
}

.caret {
  @apply absolute inset-y-0 right-0 flex items-center px-2 text-gray-800 pointer-events-none;
}

form.inline {
  .form-group {
    @apply flex items-center justify-start;
  }

  .form-group .input {
    @apply flex-1;
  }

  .form-group .label {
    @apply w-1/4;
  }
}

/* Fix flatpickr */
.flatpickr-current-month .flatpickr-monthDropdown-months {
  display: inline-block;
}

.form-checkbox {
  @apply text-blue-600 border-gray-300 rounded shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;

  &[disabled] {
    @apply bg-gray-200;
  }
}

.input-file {
  height: auto;
  z-index: 2;
  cursor: pointer;

  @apply absolute inline-block px-3 py-3 pl-0 pr-0 overflow-hidden border-none opacity-0;

  + label {
    @apply inline-flex items-center justify-between px-4 py-0 text-sm font-bold text-center no-underline rounded cursor-pointer;

    height: 40px;
    line-height: 40px;
    transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

    @apply btn;
    @apply btn-tertiary;

    &:focus {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}

[type='checkbox'] {
  @apply form-checkbox;
  @apply text-blue-600 border-gray-300 rounded shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;

  &[disabled] {
    @apply bg-gray-200;
  }
}

[type='radio'] {
  @apply form-radio;
}
